body{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size:100% ;
    background-position: 100%;
    scroll-behavior:smooth ;
}






.bod {
    
    width: 1600px;
    height: 1600px;
    
    background-image: linear-gradient(to bottom, white, rgb(1, 247, 255));
    
    background-repeat: no-repeat;
    background-position:100%;
    margin-top: 1200px;
    
}

.bodi{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: 100%;
    width: 4860px;
    height: 3460px;
}
.head1{
    text-align: center;
    background-image: linear-gradient(red, orange);
    
    height:350px;
    width: 1600px;
    display: flex;
    flex-direction:column;
}

.head1 h1{
    text-align: center;
    align-items: center;
    margin-top: 100px;
    text-decoration-style: dashed;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 120px;
    font-style:oblique;
}

.head2{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    border-radius: 40px;
}

.sub1 {
    width: 340px;
    height: 300px;
    background-image: linear-gradient(to bottom, rgb(255, 128, 0),white, rgb(2, 109, 2));
    margin-left: 40px;
    border-radius: 40px;
}

.sub2{
    width: 340px;
    height: 300px;
    background-image: linear-gradient(to bottom, orange, red);
    margin-left: 40px;
    border-radius: 40px;
}

.sub3{
    width: 340px;
    height: 300px;
    background-image:linear-gradient(to bottom, aqua, darkblue);
    margin-left: 40px;
    border-radius: 40px;
}

.sub4{
    width: 340px;
    height: 300px;
    background-image:('cloud.jpg');
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 40px;
}

.head3{
    text-align: center;
    margin-top: 200px;
}

a{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.head3 h1{
    font-size: 150px;
}

.head3 h2{
    font-size: 120px;
}