body{
    align-items: center;
    display: flex;
    flex-direction: column;
}
 .outercase{
    align-items: center;
    display: flex;
    flex-direction: column;
 }
.headimage{
    align-content: stretch;
}
 #he1{
    align-items: fixed;
 }
