body{
    align-items: center;
    display: flex;
    flex-direction: column;
}
 .outercase{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-block-start-color: black;
    border: 2px red;
 }
.headimage{
    align-content: stretch;
    background-color: black;
}

.headimage img{
    width: 250px;
    height: 120px;
}
.heading{
    background-color: aqua;
    font-family:cursive;
    font-style: bold;
    /* font-size: 17.7px; */
}
 #he1{
    align-items: fixed;
 }

.but{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color: black;
    background:linear-gradient(to bottom,aqua, blue) ;
    font-family: cursive;
}

.but:hover{
    background:linear-gradient(to bottom, white, aqua);
    -webkit-transition: 1.0s;
    transition: 1.0s;
}
 