body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.outerbox{
    background-color: black;
    width: 475px;
    height: 725px;
    align-content:center;
    border-radius: 23px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.innerbox{
    background-image:linear-gradient(goldenrod,gold) ;
    width: 175px;
    height: 600px;
    align-content: center;
    margin-right: 50px;
    border-radius: 15px;
}

.butbox{
    width: 175px;
    height: 600px;
    margin-right: 25px;
    border-radius: 15px;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
}

#stop{
    background-color:darkblue ;
    color: white;
    margin-top: 130px;
    border-radius: 40px;
    width: 131px;
    height: 40px;
    align-items: center;
    margin-left: 25px;
}

#wait{
    background-color:darkblue ;
    color: white;
    margin-top: 130px;
    border-radius: 40px;
    width: 131px;
    height: 40px;
    align-items: center;
    margin-left: 25px;
}

#Go{
    background-color:darkblue ;
    color: white;
    margin-top: 130px;
    border-radius: 40px;
    width: 131px;
    height: 40px;
    align-content: center;
    margin-left: 25px;
}

.st:hover{
    color: blanchedalmond;
}